h2, h3, a{
	font-family: carlito, calibri, verdana, trebuchet, arial;
}
h2{
	margin-right: 4%;
	margin-left: 0.5%;
	margin-bottom: 0.2em;
	padding-left: 2.3em;

	text-indent: -2.3em;
	text-align: left;
	line-height: 1em;

	font-size: 120%;
	font-weight: bold;
	color: black;
}


h2.C:before, h2.R:before, h2.S:before{
	text-align: center;
	background: black;
	text-indent: 0em;
	color: white;
	border-radius: 0.25em;
	padding: 0.1em 0.25em 0.0em 0.25em;
	margin-right: 0.5em;
	content: "C" counter(h2counter);
	counter-increment: h2counter;
}
h2.R:before{
	content: "R" counter(h2counter);
}
h2.S:before{
	content: "S" counter(h2counter);
}
h2:not(:first-child){
	border-top: solid black 1px;
	padding-top: 1em;
}
h3{
	margin-top : 0.8em;
	margin-bottom: 0.0em;
	margin-right: 0.5em;
	border : dotted 1px black;
	border-radius: 0.2em;
	text-align: center;
	text-indent: 0em;
	padding-left : 0.1em;
	padding-right : 0.1em;
	font-weight: 600;
	font-size: 100%;
	color: black;
	background: #E0EFBC;
}

ol{
	margin-top : 0.5em;
	margin-bottom: 0.2em;
	margin-left: 0em;
	text-indent: 0em;
	text-align: left;
	font-weight: 600;
	font-size: 90%;
}
ol.cours{
	list-style: upper-roman;
	font-size: 90%;
}

li{
	margin-bottom: 0.2em;
	padding-left: 0.2em;
	line-height: 1em;
}
ol li:before{
	font-weight: normal;
}
a{
	color: #0066FF;
	font-size: 110%;
	text-decoration: none;
	display: block;
	font-weight: normal;
}
a:hover{
	text-shadow: 0.03em 0.03em black;
}

img.icon{
	height: 1em;
	vertical-align: middle; 
	padding-bottom: 0.2em;
}










